{% extends "myapp1/base.html" %}

{% load static %}

{% block title %}Actividades{% endblock %}

{% block content %}
<div class="container d-flex flex-column justify-content-center" style="min-height: 80vh;">
    <!-- Sección de Imagen -->
    <div class="text-center mb-4">
        <img src="{% static 'myapp1/assets/img/ari5.jpg' %}" alt="Descripción de la imagen" class="img-fluid rounded" />
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">Lista de Actividades</h1>
            <div class="text-center mb-4">
                <a class="btn btn-primary" href="{% url 'actividad_create' %}">Crear Nueva Actividad</a>
            </div>
            <ul class="list-group">
                {% for actividad in actividades %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'actividad_detail' actividad.pk %}" class="btn btn-link">{{ actividad.nombre }}</a>
                    <div>
                        <a class="btn btn-warning btn-sm mx-1"
                            href="{% url 'actividad_update' actividad.pk %}">Editar</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'actividad_delete' actividad.pk %}">Eliminar</a>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item text-center">No hay actividades disponibles.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}