{% extends "myapp1/base.html" %}

{% block title %}Creando Actividad{% endblock %}

{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100">
    <h1 class="text-center mb-4">Creando Actividad</h1>
    <div class="d-flex justify-content-center w-100">
        <form method="post" class="w-50">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a class="btn btn-secondary" href="{% url 'actividad_list' %}">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}