{% extends "myapp1/base.html" %}

{% block title %}Experiencias{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4 text-center mt-5">Experiencias</h1>
    <div class="text-center mb-3">
        <a class="btn btn-primary" href="{% url 'experiencia_create' %}">Create New Experiencia</a>
    </div>
    <ul class="list-group">
        {% for experiencia in experiencias %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'experiencia_detail' experiencia.pk %}" class="text-decoration-none">{{ experiencia.nombre}}

            </a>
            <div>
                <a class="btn btn-warning btn-sm me-2" href="{% url 'experiencia_update' experiencia.pk %}">Edit</a>
                <a class="btn btn-danger btn-sm" href="{% url 'experiencia_delete' experiencia.pk %}">Delete</a>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item text-center mt-4">No experiencias available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}