{% extends "myapp1/base.html" %}

{% block title %}Experiencias{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Experiencias</h1>
    <div class="text-center mb-4">
        <a class="btn btn-primary btn-lg" href="{% url 'experiencia_create' %}">Crear Nueva Experiencia</a>
    </div>
    <div class="row">
        {% for experiencia in experiencias %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ experiencia.nombre }}</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'experiencia_detail' experiencia.pk %}" class="btn btn-info btn-sm">Ver
                            Detalles</a>
                        <div>
                            <a class="btn btn-warning btn-sm me-2"
                                href="{% url 'experiencia_update' experiencia.pk %}">Editar</a>
                            <a class="btn btn-danger btn-sm"
                                href="{% url 'experiencia_delete' experiencia.pk %}">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
            <p>No hay experiencias disponibles.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}