{% extends "myapp1/base.html" %}

{% block title %}Experiencia Detail{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">{{ experiencia.nombre }}</h1>
    <p><strong>Description:</strong> {{ experiencia.descripcion }}</p>
    <p><strong>Fecha:</strong> {{ experiencia.fecha }}</p>
    <a class="btn btn-primary" href="{% url 'experiencia_update' experiencia.pk %}">Edit</a>
    <a class="btn btn-secondary" href="{% url 'experiencia_list' %}">Back to List</a>
</div>
{% endblock %}